<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="closeChat()">
      <ion-icon  style="color:#ffff,font-size 25px;" name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title>{{chat.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ol *ngIf="room">
    <li *ngFor = "let messages of room.messages">{{messages.content}}</li>
  </ol>

</ion-content>

<ion-footer class="ion-padding">
  <ion-item>
    <ion-item>
    <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="message"></ion-textarea>
      <ion-button (click)="sendMessage()" color="success">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-item>
</ion-footer>