<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text"  name="email" placeholder="Awesome Input"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"  name="password" placeholder="Awesome Input"></ion-input>
  </ion-item>
<ion-button expand="block">
  Entrar
</ion-button>  
</ion-content>
